<header class="header-box">
  <nav class="nav-menu">
    <a href="http://" class="toggle">
      <fa-icon [icon]="faBars"></fa-icon>
    </a>
    <ul class="menu-items">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/imoveis-no-maranhao">Ímoveis</a></li>
      <li><a routerLink="/servicos">Serviços</a></li>
      <li><a routerLink="/quem-sou">Quem sou</a></li>
    </ul>

    <div class="logo">
      <img src="/images/sublogo-telmamonteiro-padrao-final.png" alt="">
    </div>

    <div class="contacts">
      @for (item of contacts; track $index) {
        <div class="item">
          <fa-icon [icon]="item.icon"></fa-icon>
          <a [href]="item.link" target="_blank" class="anim-link">{{item.text}}</a>
        </div>
      }
    </div>
  </nav>
</header>
