
.desktop{
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;


  .nav-menu{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    // border: 1px solid red;
    color: #111111;
    a{
      color: #111111;
      text-decoration: none;
    }

    .toggle{
      // background-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      fa-icon{
        font-size: 25px;
        font-weight: 200;
      }

    }
    .menu-items{
      display: flex;
      ul{
        list-style-type: none !important;
      }
      li{
        margin: clamp(5px, 1.2vw, 10px);
        list-style-type: none !important;
        a{
          font-size: clamp(12px, 1.2vw, 16px);
        }

      }

    }

    .logo{
      flex: 1;
      display: flex;
      justify-content: center;
      img{
        max-width: clamp(130px, 190px, 200px);
      }
    }

    .infos{
      // max-width: 490px;
      padding:  clamp(10px, 30px, 30px);
      display: flex;
      .item{
        padding-left: 40px;
        position: relative;
        margin-right: 30px;

        fa-icon {
          position: absolute;
          left: 0;
          top: px;
          height: 30px;
          width: 30px;
          text-align: center;
          line-height: 30px;
          border-radius: 4px;
          background: #111;
          color: #fff;
          font-size: 14px;
        }
        span{
          font-weight: 600;
          font-size: clamp(12px, 1.2vw, 14px);
          // font-size: 14px;
          padding-bottom: 4px;
          color: #777777;

        }
        a{

          display: block;
          font-size: clamp(12px, 1.2vw, 20px);
          font-weight: 200;
          margin-top: 5px;
        }

      }
    }

  }
}

@media (max-width: 1024px){
  .nav-menu{
    width: 99% !important;
  }
}

@media (max-width: 820px){
  .menu-items, .infos{
    display: none !important;
  }

  .logo{
    justify-content: end !important;
    margin-right: 20px;

  }


}

