<header class="desktop">
  <nav class="nav-menu">
    <a href="http://" class="toggle">
      <fa-icon [icon]="faBars"></fa-icon>
    </a>
    <ul class="menu-items">
      <li><a href="http://">Home</a></li>
      <li><a href="http://">Quem sou</a></li>
      <li><a href="http://">Ímoveis</a></li>
    </ul>

    <div class="logo">
      <img src="https://androthemes.com/themes/angular/nycondos/assets/img/logo.png" alt="">
    </div>

    <div class="infos">
      <div class="item">
        <fa-icon [icon]="faPhone"></fa-icon>
        <span>Contato / Whatsapp</span>
        <a href="http://">98 970278028</a>
      </div>
      <div class="item">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <span>Email / Informações</span>
        <a href="http://">telmamonteirogmail.com</a>
      </div>

    </div>


  </nav>
</header>
