
@if(pageWidth > 768){
  <div class="desktop-grid-box">
    <div class="one-col">
    @for (item of images; track $index) {
      @if($index === 0){
          <a (click)="openMedia($index)" class="img-box" href="javascript:void(0)"  alt="">
            <img [src]="item?.url" [alt]="'foto' + $index + ' ' + property?.title">
          </a>
        }
      }
    </div>

    @if(images?.length > 1){
      <div class="two-col">
         @for (item of images; track $index) {
          @if($index > 0 && $index < 5 ){
            <a (click)="openMedia($index)" class="img-box" href="javascript:void(0)"  alt="">
              <img [src]="item?.url" [alt]="'foto' + $index + ' ' + property?.title">
              @if($index === 4 && images?.length  > 5){
                <span class="over">+ {{images?.length - ($index + 1)}}</span>
              }
            </a>
          }
         }
      </div>
    }


  </div>
}@else {

  @if(!this.loading.images){
    <div class="mobile">
      <swiper-container #swiperRef [pagination]="true" [navigation]="true">
        @for (item of images; track $index) {
          <swiper-slide>
            <img [src]="item?.url" alt="">
          </swiper-slide>
        }
      </swiper-container>

    </div>
  }



}


