<div class="slide-grid-box">
  <div class="one-col">
    <a class="img-box" href="http://">
      <img src="https://towntor-shreethemes.vercel.app/static/media/1.c54a22711fe0dff1a6ee.jpg" alt="">
    </a>

  </div>
  <div class="two-col">
    <div class="row">
      @for (item of [0,1]; track $index) {
        <a class="img-box" href="http://">
          <img src="https://towntor-shreethemes.vercel.app/static/media/1.c54a22711fe0dff1a6ee.jpg" alt="">
        </a>

      }
    </div>
    <div class="row">
      @for (item of [0,1]; track $index) {
        <a class="img-box" href="http://">
          <img src="https://towntor-shreethemes.vercel.app/static/media/1.c54a22711fe0dff1a6ee.jpg" alt="">
        </a>

      }
    </div>


  </div>

</div>
