<div class="box-image" [ngStyle]="{'background-image': 'url(images/01.jpg)', 'background-position': '50%'}">

  <div class="box-icons">
    <div class="icons">

    </div>

  </div>

</div>
<div class="box-info">

  <h4 class="title">
    <a href="http://">Minimal Duplex Apartment</a>
  </h4>

  <div class="desc">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor.
    </p>
  </div>

  <div class="price">
    <a class="money" href="http://">R$ 200.000</a>
    <a class="view" href="">Visualizar</a>
  </div>



</div>
