<section class="grid-box">
  @if(loading){

    <p>....is loading</p>

  }@else {
    <div class="search-box">
      <p class="label-search">Filtrar por </p>
      <form [formGroup]="form" >
        <!-- <mat-form-field appearance="outline">
          <mat-label>Região</mat-label>
          <input type="text"
                 placeholder="Selecione"
                 aria-label="Text"
                 matInput
                 formControlName="region"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field> -->
        <mat-button-toggle-group formControlName="category" name="fontStyle" aria-label="Font Style" >
          @for (category of options.categories; track $index) {
            <mat-button-toggle [value]="category">{{category | titlecase}}</mat-button-toggle>
          }
        </mat-button-toggle-group>

        <mat-button-toggle-group formControlName="type" name="fontStyle" aria-label="Font Style">
          @for (type of options.types; track $index) {
            <mat-button-toggle [value]="type.value">{{type.title | titlecase}}</mat-button-toggle>
          }
        </mat-button-toggle-group>


      </form>


      <p class="label-results">Resultado {{filterItems().length}} anúncios</p>

    </div>

    @for (item of filterItems(); track $index) {
      <app-card-item [item]="item" />
    }@empty {
      <div class="empty">
        <p>*Sem resultados para sua pesquisa</p>
        <button (click)="clean()" mat-button>Voltar a todos os anúncios</button>
      </div>

    }

  }

</section>
