:host{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


  .grid-box{
    margin-top: 30px;
    padding: 30px;
    width: 80%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .search-box{
      width: 100%;
      padding: 10px;
      .label-search{
        font-weight: 400;
      }
      .label-results{
        font-weight: 200;
        color: var(--color-t2);
        display: flex;
        mat-chip{
          margin-left: 10px;
        }
      }

      form{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: baseline;
        gap: 10px;
      }
    }
  }

  .empty{
    width: auto;
    // border: 1px solid red;
    padding: 10px;
    p{
      font-size: 20px;
      color: #979797;
      text-align: center;
    }
  }

}

@media (max-width: 820px){
  :host{
    .grid-box{
      margin-top: 10px;
      // width: 99%;

      .search-box{
        width: 100%;
        padding: 10px;
        display: none;

        form{
          gap: 5px;
          mat-button-toggle-group{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            mat-button-toggle{
              border: 0px;
              border-bottom: 1px solid rgb(226, 226, 226);
              flex: 1;
            }
          }
        }
      }
    }
  }

}
