<section>
  <div class="foto-box">
    <img src="/images/telma-monteiro-vendo-seu-imovel.webp" alt="telma-monteiro-vendo-seu-imovel" />
  </div>
  <div class="info">
    <h2>Serviços e Consultoria Imobiliária</h2>

    <div class="groups">
      <div class="group">
        <h3>Compra e venda de imóveis</h3>
        <p>
          Intermediação completa com segurança jurídica e negociação estratégica
          para quem quer comprar ou vender com tranquilidade e bons resultados.
        </p>
      </div>
      <div class="group">
        <h3>Avaliação imobiliária</h3>
        <p>
          Avaliação precisa do valor do imóvel com base no mercado atual, localização, características e potencial de valorização.
        </p>
      </div>
      <div class="group">
        <h3>Financiamentos imobiliários</h3>
        <p>
          Auxílio na simulação, escolha da instituição financeira e na organização da documentação para facilitar a aprovação do crédito.
        </p>
      </div>
      <div class="group">
        <h3>Consultoria para investidores</h3>
        <p>
          Identificação de oportunidades seguras e rentáveis no mercado imobiliário, com foco em valorização e retorno financeiro.
        </p>
      </div>

    </div>

    <a [href]="whatsapp.link" target="_blank"  mat-raised-button class="btn-whatsapp" color="primary">
      Fale comigo pelo WhatsApp
    </a>

  </div>
</section>
<app-action-social />
