section{
  width: 100%;
  box-sizing: border-box;
  margin: 70px 0px;

  padding: 10px;


  h4{
    text-align: center;
    font-size: 30px;
    color: var(--color-1);
    margin: 0px;
    border-top: none;
  }
  .border-top{
    border-top: 1px solid var(--color-l2);
  }

  nav{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    a{
      padding: 10px 20px;
      background-color: var(--color-1);
      color: var(--color-2);
      margin-right: 5px;
      font-size: 25px;
    }
  }
}

@media (max-width: 768px){
  section{
    width: 90%;
    margin: 20px;

    h4{
      text-align: center;
      font-size: 25px;
      color: var(--color-1);
      margin: 0px;
    }

    nav{
      margin-top: 30px;
      display: flex;
      justify-content: center;
      a{
        padding: 10px 20px;
        background-color: var(--color-1);
        color: var(--color-2);
        margin-right: 5px;
        font-size: 25px;
      }
    }
  }
}
