mat-step{
  padding: 30px;
}
mat-form-field{
  width: 100%;
}

.address{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  mat-form-field{
    flex: 1;
    min-width: 100px
  }
}

ngx-editor{
  min-height: 300px;
}